<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Games List</h2>
    <p>Kristine's Favorite Game:</p>
<ul>
    <li>Name: Catan</li>
    <li>Id: 13</li>
    <li>Maximum Players: 4</li>
</ul>

    <p>Random Game:</p>
<ul>
    <li>Name: {{r_game_name}}</li>
    <li>Id: {{r_game_id}}</li>
    <li>Maximum Players: {{r_max_players}}</li>
</ul>

</body>
</html>